body {
    /*background-image: url('images.png');
}*/

    /*box-sizing: border-box*/
}

/* Full-width input fields */
/*input[type=text], input[type=password] {
    border-style: none;
    border-color: inherit;
    border-width:thin;*/
    /*padding: 15px;
    margin: auto;*/
    /*display: inline-block;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
    
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #B6B6B5;
        outline: none;
    }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}*/

/* Set a style for all buttons */
/*button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align:center;
}

    button:hover {
        opacity: 1;
    }*/

/* Extra styles for the cancel button */
/*.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}*/

/* Float cancel and signup buttons and add an equal width */
/*.cancelbtn, .signupbtn {
   margin:0 auto;
    width: 40%;
    border-radius:10px 10px 10px 10px;
    
}*/

/* Add padding to container elements */
/*.container {
    padding: 16px;
}*/

/* Clear floats */
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/

/* Change styles for cancel button and signup button on extra small screens */
/*@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.center {
  margin:auto;
  justify-content:center;
  text-align:center;
    
    
}
.kapsam {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 450px;*/
    /*background-color: #636e72;*/
    /*margin:0 auto;
    text-align:center;
    
    
  
}

.kutu {
    width: 200px;
    height: 50px;
    font-size: 20px;*/
    /*margin: 10px;*/
    /*padding: 20px;*/
   /* text-align: center;*/
    /*background-color: #0984e3;*/
    /*float:left;
    text-align:center;
    
}
.txt{
    border-radius:10px 10px 10px 10px;
  margin-top:20px;
}*/
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
}

body {
    display: flex;
    background-color: #2b3137;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    background: white;
    box-sizing: border-box;
    padding: 30px 40px;
    justify-content: center;
    flex-direction: column;
    min-height: 60vh;
    border-radius: 10px;
    width:550px;
    
}

.header {
    padding: 30px 0 30px 0;
    text-align: center;
}

    .header h1 {
        font-size: 21px;
    }

.input_area {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: center;
    text-align: center;
}

    .input_area input {
        /* width: 100%; */
        margin: 10px 0;
        border: 1px grey solid;
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 17px;
        outline: none;
        color: black;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        height:20px;
    }

.actions {
    text-align: center;
    padding: 30px 0 10px 0;
    
}

 

    .actions p {
        font-size: 13px;
    }

.Sign_up_link {
    font-weight: 500;
    color: #14b397;
    text-decoration: none;
}
.actionsbutton {
    background-color: #43A94C;
    border: none;
    border-radius: 20px;
    padding: 5px 25px;
    cursor: pointer;
    width: 200px;
    height:40px;
    font-size:15px;
}
   
    

